logs
project/project
project/target
project/.*
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
.sbtserver
# Intelli J ignores
.idea/*

/project/play-fork-run.sbt
